# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

# Standard devtools wrapper travis declaration
language: r
cache: packages
sudo: required

# Testing matrix of different R versions
# r:
#   - 3.2
#   - oldrel
#   - release
#   - devel
