# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

# Standard devtools wrapper travis declaration
language: r
cache: packages
sudo: false
dist: trusty
# Trusty is later than Precise

# Testing matrix of different R versions
r:
  - 3.2
  - oldrel
  - release
  - devel

# Install new packages via ubuntu's apt-get manager
# Use https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5

# Specify local Makevars configuration
before_install:
  - mkdir -p ~/.R
  - VER=-5
  - echo "CC=gcc$(VER) -std=gnu99" >> ~/.R/Makevars
  - echo "CXX=g++$(VER)"           >> ~/.R/Makevars
  - echo 'CXX1X=$(CXX)'            >> ~/.R/Makevars
  - echo 'CXX11=$(CXX)'            >> ~/.R/Makevars
  - echo 'CXX14=$(CXX)'            >> ~/.R/Makevars
  - echo 'CXX14=$(CXX)'            >> ~/.R/Makevars

env:
  - COMPILER=g++-5
